{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "import"],
  "rules": {
    "no-var": "error",
    "strict": ["error", "global"],
    "eqeqeq": "warn",
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "require-await": "warn",
    "spaced-comment": ["warn", "always"],
    "func-style": ["warn", "expression"],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "react": { "version": "detect" }
  }
}
